*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Young Serif", serif;
}
.container{
    padding: 50px;
}
.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-one__contact{
    background-color:orangered;
    color: white;
    text-decoration: none;
    padding:5px 12px;
    display:inline-block;
    border: solid 2px orangered;
}
.section-one__contact:hover{
    background-color: transparent;
    color: orangered;
}
.section-one__work{
    background-color:orangered;
    color: white;
    text-decoration: none;
    padding:5px 12px;
    display:inline-block;
    border: solid 2px orangered;
}
.section-one__work:hover{
    background-color: transparent;
    color: orangered;
}
.section-one__header{
    font-size: 50px;
}
.section-one__role{
    font-size: 25px;
    margin:10px 0px;
}

.section-two,.section-three,.section-four,.section-five{
    margin-top: 20px;
}

.section-two__desc,.section-three__desc,.section-four__desc,.section-five__desc{
    margin-top: 10px;
}
.section-three{
    color: white;
    background-color:#6462FD;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 20px;
    vertical-align:top;
}
.section-four{
    color: white;
    background-color:#FE7517;
    padding: 20px;
    display: inline-block;
    height: 200px;
    border-radius: 20px;
    vertical-align:top;
    margin-left: 10px;
}
.section-three__desc li,.section-four__desc li{
    list-style-type: none;
}
.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}
.section-five__title a{
    color: skyblue;
    padding: 0px 2px;
}
.section-four__desc__anchorone{
    color: white;
    /* text-decoration: none; */
}
.section-four__desc__anchortwo{
    background-color:transparent;
    color:white;
    text-decoration: none;
    padding:5px 12px;
    display:inline-block;
    border: solid 2px white;
    margin-top: 20px;
}
.section-four__desc__anchortwo:hover{
    background-color:white;
    color: orangered;
    border: solid 2px white;
}
/* --contact  */
.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin-top: 10px;
}
.contact-form__input{
    border: none;
    border-bottom: solid 1px black;
    padding: 10px;
    outline: none;
}
.contact-form__textarea{
    border: solid 1px black;
    padding: 10px;
    outline: none;
}
.contact-form__submit{
    background-color: orangered;
    color: white;
    border: solid 2px orangered;
    padding: 8px 20px;
    font-family: "Young Serif", serif;
}
.contact-form__submit:hover{
    background-color: transparent;
    color: orangered;
}
.section-five__desc a{
    color: white;
    text-decoration: none;
}
/* work  */
.section-work{
    padding: 20px;
    text-align: center;
}
.section-work__card{
    display: inline-block;
    width: 300px;
    border: solid 2px black;
    padding: 20px;
    margin: 20px;
}
.section-work__card__img {
    width: 95%;
    height:200px;
    border: solid 5px black;
}
.section-work__card__anchor{
    background-color: orangered;
    color: white;
    border: solid 2px orangered;
    padding: 5px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.section-work__card__anchor:hover{
    background-color: transparent;
    color: orangered;
    border: solid 2px orangered;
}
